doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    base(href='/')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://rawgit.com/angular-ui/ui-grid.info/gh-pages/release/ui-grid-unstable.css')
  body(ng-app='MyApp', ng-controller='AppController as app')
    block content